# META / WHATSAPP CLOUD API
META_ACCESS_TOKEN=
META_PHONE_NUMBER_ID=
META_VERIFY_TOKEN=

# POWER AUTOMATE
POWER_AUTOMATE_URL=https://default541843464f4f41b48f3c8c0fba3d85.8d.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/be7cc5e309ff497498164c2487b8d6c4/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=eZA2ZD4cxlUdcolKJ-gx5cAqhj4_o6HK9LnoLbp9pKY

# AMAZON S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET_NAME=
