# META / WHATSAPP CLOUD API
META_ACCESS_TOKEN=
META_PHONE_NUMBER_ID=
META_VERIFY_TOKEN=

# POWER AUTOMATE
POWER_AUTOMATE_URL=

# AMAZON S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET_NAME=
